@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    width: 1280px;
}


.menu-list {
display: inline-block;
box-sizing: border-box;

margin: 31.5px 330px;
}
.menu-item {
    display: inline-block;
    margin-right: 72px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: red;
    letter-spacing: 1.2px;
    cursor: pointer;
}



.menu-item:last-child {
    margin-right: 0;
}

.menu-link {
    color: red;
    text-decoration: none;
    
}

.basis-photo{
    display: block;
}

.title {
    text-align: center;
    margin: 48px 263px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;  
}

.content {
    margin: 38px 67.5px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px
}

.content-text {
    text-align: center;
    margin: 28px 67.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
}

.btn{
padding-top: 66px;
}

.btn-link {

    border: 1px solid none;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
     
    text-transform: uppercase;
    margin: 66px 544.5px 0 544.5px;
    padding: 18px 43px 17px 43px;
    border-radius: 4px;
    background-color: #FF0000;
    text-decoration: none;
    color: white;
}
    

.copyright {
    margin: 82px 105px 29px 705px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px
    color: #373737;
    letter-spacing: 2.4px; 
}